---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
}

const { href, external, underline = true, ...rest } = Astro.props;
---

<a 
  href={href} 
  target={ external ? "_blank" : "_self" } 
  class={cn(
    "inline-block", 
    "text-blue-700 dark:text-current", // Light mode text color is blue-700, dark mode remains current text color
    "decoration-blue-700/50 dark:decoration-white/30", // Light mode underline uses blue-700/50, dark mode unchanged
    "hover:text-blue-900 dark:hover:text-white", // Light mode hover text color is blue-900, dark mode unchanged
    "hover:decoration-blue-900/75 dark:hover:decoration-white/50", // Light mode hover underline becomes blue-900/75, dark mode unchanged
    "transition-colors duration-300 ease-in-out", // Smooth transition for color changes
    underline && "underline underline-offset-2" // Underline by default, if enabled
  )}
  {...rest}>
  <slot/>
</a>

